doctype
html
  head
    title Sample page
    
    link(rel="stylesheet",type="text/css", href="css/ext.min.css")
    link(rel="stylesheet",type="text/css", href="css/app.min.css")
  body
    p Some content here
    include ./template-one.jade

    script(type="text/javascript", src="js/ext.min.js")
    script(type="text/javascript", src="js/app.min.js")